#seek-tbl {
  width:100%;
  font-size: 60px;
  border-bottom:1px solid black;
  margin-top: 5%;
  
}

#symptns {
  
}


#seek-p {
  border-top: 1px black solid;
}

#seek-add {
  float: right;
  
}

.wrapper {
  width: 100%;
  overflow: hidden;
}
